<h1>Flight Booker</h1>

<p>Search for a flight:</p>
<%= form_with url: "/flights", method: :get do |f| %>
    <%= f.label :departure_airport, "From:" %>
    <%= f.collection_select :departing_airport, Airport.order(:airport_code), :id, :airport_code %><br />
    <%= f.label :arrival_airport, "To:" %>
    <%= f.collection_select :arriving_airport, Airport.order(:airport_code), :id, :airport_code %><br />
    <%= f.label :passengers, "Passengers:" %>
    <%= f.select :passengers, [1, 2, 3, 4] %><br />
    <%= f.label :date, "Date:" %>
    <!-- This picks only the dates where flights are happening, and not any other dates; returned as a string -->
    <!-- %= select_tag :date, options_from_collection_for_select(Flight.get_start_times, :start_time, :flight_date_formatted) %><br /-->
    <!-- This is a more modular approach where the user can pick the date of their own accord; returned as a date hash -->
    <%= select_day(Date.today) %>
    <%= select_month(Date.today) %>
    <%= select_year(Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year) %><br />

    <%= f.submit "Search" %>
<% end %>

<h5>Your parameters for this search:</h5>
<p><%= "#{params}" %></p>

<h5>Flights with these params:</h5>
<% flights = Flight.search_query(params) %>
<ul>
    <% flights.each do |flight| %>
        <li>Flight ID: <%= "#{flight.id}" %></li>
    <% end %>
</ul>