<h4>Confirm Your Booking</h4>

<ul>
    <li>Flight #<%= @flight.id %></li>
    <li>From <%= @flight.departure_airport.code %> to <%= @flight.arrival_airport.code %>
    <li>Date: <%= @flight.start_time_formatted %>
</ul>

<h5>Passenger Information</h5>
<%= render "booking_form" %>